# Server
OTS_NUKE_HOST=0.0.0.0
OTS_NUKE_PORT=8000
OTS_NUKE_WORKERS_COUNT=1
OTS_NUKE_RELOAD=true
OTS_NUKE_LOG_LEVEL=DEBUG

# Postgres
OTS_NUKE_DB_HOST=db_host
OTS_NUKE_DB_PORT=db_port
OTS_NUKE_DB_USER=db_user
OTS_NUKE_DB_PASS=db_pass
OTS_NUKE_DB_BASE=db_name
OTS_NUKE_DB_ECHO=true
